<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-social-gh-pages/assets/css/bootstrap.css">
  <title> Home </title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="http://www.tornadoweb.org/en/stable/">
        <img src="/images/TornadoWebServerLogo.png" id="brand" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a class="nav-link" href="/"> About <span class="sr-only">(About)</span></a>
        </li>
            <% if(locals.UserID) {%>
                <li class="nav-item">
                <a class="nav-link" href="/logout"> Logout <span class="sr-only">(Logout)</span></a>
                </li>
            <%} else {%>
                <li class="nav-item">
                    <a class="nav-link" href="/login"> Login <span class="sr-only">(Login)</span></a>
                </li>
            <%}%>
        <li class="nav-item">
            <a class="nav-link" href="/Signup"> Signup <span class="sr-only">(Signup)</span></a>
        </li>
        </ul>
      <span class="navbar-text">
      <a class="btn btn-social-icon btn-github" href="https://github.com/Souldiv">
          <span class="fa fa-github fa-lg"></span>
      </a>
      </span>
  </div>
  </nav>
  <div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Tornado Test + Bootstrap</h1>
            <p class="lead">A Landing Page For My Tornado Project.</p>
            Stay Tuned...
        </div>
    </div>
  </div>
  <div class="container">
    <h1>Currently Done</h1>
    <ul>
        <li>Login page</li>
        <li>Home Page</li>
        <li>login Authentication</li>
        <li>Log out</li>
        <li>Error Handling</li>
        <li>Implemented MAL api search function</li>
    </ul>
  <h1>To Do</h1>
  <ul>
      <li>Learning oAuth</li>
      <li>Learning PostgreSQL</li>
  </ul>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>